@import "@styles/vars";

.txt {
	margin-top: 4rem;
	margin-bottom: 4rem;
	svg {
		width: 26px;
		margin-right: 1rem;
		margin-top: -3px;
	}
}

@media (max-width: 991px) {

}

@media  (max-width: 767px) {

}