@import "@styles/vars";

.txt {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.btn {
	min-width: 320px;
	width: 100%;
	svg {
		width: 26px;
		margin-right: 1rem;
		margin-top: -3px;
	}
}

@media (max-width: 991px) {

}

@media  (max-width: 767px) {
	.btn {
		min-width: 100%;
	}
}