@import "@styles/vars";

.block {
	min-height: 850px;
}

.wrapper {
	position: relative;
	padding-bottom: 4rem;
	z-index: 1;
}

.imgLeftBlock {
	position: relative;
	width: 100%;
	height: 457px;
	margin-left: 3rem!important;
}

.imgRightBlock {
	position: relative;
	width: 100%;
	height: 457px;
	margin-top: 8rem!important;
	margin-bottom: 1rem!important;
	margin-left: -1.5rem!important;
}

.blockquote {
	border: 1px solid $main;
	padding: 20px;
	width: 55%;
	margin-right: -.5rem!important;
	strong {
		font-size: 2.5rem;
		color: $blue;
		padding-bottom: 2.5rem;
		text-align: center;
	}
}

@media (max-width: 1199px) {
	.imgLeftBlock {
		height: 310px;
	}
	.imgRightBlock {
		height: 250px;
		margin-top: 7rem!important;
		margin-bottom: 1rem!important;
	}
	.blockquote {
		width: 70%;
	}
}

@media (max-width: 991px) {

	.imgLeftBlock {
		height: 225px;
		margin-left: 1.5rem!important;
	}
	.imgRightBlock {
		height: 184px;
		margin-top: 6rem!important;
	}
	.blockquote {
		width: 80%;
		margin-right: -1rem!important;
	}

}

@media (max-width: 767px) {
	.imgLeftBlock {
		height: 260px;
		margin-left: 0!important;
	}
	.blockquote {
		width: 100%;
		margin-right: 0 !important;
	}
}