@import "@styles/vars";

.block {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, 
		rgba(238,238,238,1) 0%,
		rgba(255,255,255,0) 100%
	);
}

.wrapper {
	position: relative;
	//padding-top: 2rem;
	padding-bottom: 4rem;
	z-index: 1;
}

.img {
	padding: 0;
	background: $bg-blue;
	background: $bg-blue-gradient;
}

.cardPerson {
	font-size: 1.2rem;
	h3 {
		font-size: 1.2rem;
	}
	&:hover {
		.img {
			background: $bg-blue url(/assets/logo_alpha.svg) no-repeat 50% 50%;
			background-size: 150%;
		}
	}
}

.body {
	padding: 1rem 1rem .5rem 1rem;
}

.footer {
	img {
		width: 32px !important;
		height: 32px !important;
	}
}


@media (max-width: 991px) {

}

@media  (max-width: 767px) {
	.cardPerson {
		font-size: .8rem;
		h3 {
			font-size: 1rem;
		}
	}
	.body {
		padding: .5rem .5rem .25rem .5rem
	}
}