@import "@styles/vars";

$bgWidthLogo: 400px;

.menu {
	background-color: transparent;
	-webkit-backdrop-filter: blur(100px);
	backdrop-filter: blur(5px);
	margin-bottom: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	&[data-menuscroll="true"] {
		transition: background-color 2s ease;
		background-color: $blue-dark;
	}
}

.brand {
	svg {
		&[data-logo="img"] {
			height: 38px;
		}
		&[data-logo="txt"] {
			height: 38px;	
		}
	}
	// ANIMATION HOVER ЛОГО
	svg {
		&[data-logo="img"] [data-fill="blue"] {
			fill: $primary;
			stroke:transparent;
			stroke-width: 0;
			stroke-dasharray:1000px;
		}
	}
	&:hover {
		svg {
			&[data-logo="img"] [data-fill="blue"] {
				stroke: transparent;
				fill: $primary;
				stroke-width: 2px;
				stroke-dasharray:1000px;
				animation: a 3s 1;
				transition: fill ease
			}
		}
	}
}
@keyframes a{
	0%{
		stroke: $white;
		stroke-width:2px;
		stroke-dashoffset:1000;
		fill:transparent
	}
	50%{
		stroke-width: 1px;
		stroke-dashoffset:0;
	}
	to{
		stroke-width: 0;
		stroke: transparent;
	}
}

.collapse {
	button {
		margin-left: 1rem;
	}
}

.hamburger {
	cursor: pointer;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	position: relative;
	span {
		padding: 0;
		width: 30px;
		height: 4px;
		background-color: $white;
		display: block;
		border-radius: 4px;
		transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
		position: absolute;
	}
}

.line1 {
	top: 0;
}
.line2 {
	top: 13.5px;
	width: 1px !important;
    transform: rotate(90deg);
    left: 13.5px;
}
.line3 {
	top: 13.5px;
	right: 0;
	width: 1px !important;
    left: 13.5px;
}
.line4 {
	top: 13.5px;
	bottom: 0;
}
.line5 {
	bottom: 0px;
}

[aria-expanded="true"] {
	
	.line1 {
		top: 13.5px;
		background-color: transparent;
	}
	.line2 {
		left: 0px;
		width: 30px !important;
		transform: rotate(45deg);
	}
	.line3 {
		left: 0;
		width: 30px !important;
		transform: rotate(-45deg);
	}
	.line4 {
		background-color: transparent;
	}
	.line5 {
		bottom: 13.5px;
		background-color: transparent;
	}
}

@media  (max-width: 991px) {
	.menu {
		&[data-bg-alpha="true"] {
			transition: background-color 0 ease;
			background-color: transparent;
		}
		&[data-bg-alpha="false"] {
			transition: background-color 0 ease;
			background-color: $blue-dark;
		}
		&[data-menuscroll="true"] {
			transition: background-color 2s ease;
			background-color: $blue-dark !important;
		}
	}
	.togglerCol {
		display: flex; 
		justify-content: flex-end;
		ul {
			align-self: center;
			margin-right: 1rem;
		}
	}
	.collapse {
		text-align: center;
		button {
			margin-top: 1.5rem;
			margin-left: 0;
		}
	}
	.bgLogo {
		position: absolute;
		opacity: .1;
		height: $bgWidthLogo;
		width: 100%;
		top: 10%;
		right: -20%;
		svg {
			width: 100%;
		}
	}
}

@media  (max-width: 575px) {
	.menu {
		min-width: 320px;
	}
	.brand {
		margin-right: 0 !important;
		svg {
			&[data-logo="img"] {
				height: 32px;
			}
			&[data-logo="txt"] {
				height: 32px;	
			}
		}
	}
}