@import "@styles/vars";

.block {
	min-height: 850px;
}
.wrapper {
	position: relative;
	z-index: 1;
	h2 {
		text-align: center;
	}
}

.separator {
	margin: 2.5rem auto;
	height: 2px;
    width: 44px;
	background-color: $blue;
}

.img {
	margin-top: 5rem;
}

@media (max-width: 991px) {
	.img {
		margin-top: 1rem;
	}
}