@import "@styles/vars";

.block {
	min-height: 850px;
}
.wrapper {
	position: relative;
	z-index: 1;
	h2 {
		text-align: center;
	}
	img {
		margin-top: 4rem;
	}
}

.separator {
	margin: 2.5rem auto;
	height: 2px;
    width: 44px;
	background-color: $blue;
}