@import "vars";
@import "fonts";
@import "libs";

html {
	scroll-behavior: smooth;
}

body {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		border-radius: 6px;
	}
}

section {
	font-size: 1.8rem;
	font-weight: 300;
}

h1 {
	color: $white;
	font-family: "Academy", "Gilroy", sans-serif, Arial, Helvetica;
	font-weight: 400;
}

h2 {
	
	font-size: 2.5rem;
	font-weight: 300;
	padding-bottom: 2.5rem;
	text-align: center;
}

a {
		color: $primary;
		text-decoration: none;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			height: 1px;
			bottom: -3px;
			right: 0;
			width: 0%;
			background-color: $primary;
			transition: 0.6s ease-out;
		}
		&:hover {
			color: $primary;
			&:after {
				width: 100%;
				left: 0;
				bottom: -3px;
			}
		}
		&.bs-0 {
			&:after {
				height: 0;
				background-color: transparent;
			}
		}
	}

.btn {
	display: inline-block;
	position: relative;
	outline: none;
	z-index: 1;
}

.btn-warning {
	&:before {
		position: absolute;
		content: "";
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -1;
		background-color: rgba($color: #FFFFFF, $alpha: 0.25) !important;
		transition: all 0.3s ease;
	}
	&:hover {
		color: $blue-dark;
		&:before {
			left: 0;
			width: 100%;
		}
	}
}

.separator {
	margin: 2.5rem auto;
	height: 2px;
    width: 44px;
	background-color: $blue;
}

// обнуляем Global style bootstrap
.nav-link,
.dropdown-item {
	padding: 0;
	background-image: none;
	background-size: 0;
}
.navbar-toggler {
	&:focus {
		box-shadow: 0 0 0 0 !important;
		-webkit-box-shadow: 0 0 0 0 !important;
	}
}

//Задаем цвета для логотипа
svg {
	[data-fill="blue"] {
		fill: $primary;
	}
}
@media  (max-width: 1199px) {

}

@media  (max-width: 991px) {
	.navbar-collapse {
		position: fixed;
		width: 100%;
		background: $blue-dark;
		margin-top: 55px;
		min-height: 100vh;
		visibility: visible;
		opacity: 1;
		z-index: 9;
	}
	h2 {
		font-size: 2rem;
	}
}

.fb {
	filter: invert(36%) sepia(6%) saturate(5703%) hue-rotate(182deg) brightness(86%) contrast(89%);
}
.linkedin {
	filter: invert(28%) sepia(92%) saturate(1071%) hue-rotate(182deg) brightness(102%) contrast(98%);
}
.twitter {
	filter: invert(40%) sepia(89%) saturate(1177%) hue-rotate(182deg) brightness(103%) contrast(88%);
}