@import "@styles/vars";

$block-height	: 630px;

.bgLogo {
	position: absolute;
	opacity: .1;
	height: $block-height*1.4;
	width: 100%;
	text-align: right;
	overflow: hidden;
	z-index: 0;
	svg {
		position: absolute;
		height: 100%;
		top: -5%;
		right: -10%;
		-webkit-filter: grayscale(100%);
    	filter: grayscale(100%);
	}
}

@media (max-width: 991px) {
	.bgLogo {
		height: $block-height;
	}
}
